@import "tailwindcss";


@import "flowbite";

@plugin "daisyui" {
  themes: light, dark;
}

body{
  /* background-color: aliceblue; */
  height: 100vh;
}

*{
  outline: none;
}
/* Remove default details/summary arrow */
summary::-webkit-details-marker {
  display: none !important;
}

summary::marker {
  display: none !important;
}


